<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset=utf-8>
  <title> index </title>  
</head>
<body>
  {% from "_macro.html" import render_field %}
  <form name="formulario" id="o" method="POST"> {{render_field(form.criteria)}} 
    <button type="submit" class="btn btn-default">Enviar</button>
   </form>
  <h1> Películas </h1>
  {% for p in peliculas %}
  <pelicula>
    <h4> Título : <a href="pelis/{{p[5]}}"> {{p[0]}} </a> </h4>
    <h4> Año de lanzamiento : {{p[1]}} </h4>
    <h4> Dirigida por : {{p[2]}} </h4>
    <h4> Producida por : {{p[3]}} </h4>
    <h4> Número : {{p[4]}} </h4>
   </pelicula>
    <h4> ___________________________________________________________________________________ </h4>
  {% endfor %}
</body>
</html>