<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset=utf-8>
  <title> Planeta </title>  
</head>
<body>      
   {% from "_macro.html" import render_field %}
  <form name="formulario" id="o" method="POST"> {{render_field(form.criteria)}} 
    <button type="submit" class="btn btn-default">Enviar</button>
   </form>
  <personaje>
      <h1>  Planeta {{p[0]}} </h1>
          <h4> Período rotación : {{p[1]}} </h4>
          <h4> Período de órbita: {{p[2]}}  </h4>
          <h4> Diámetro : {{p[3]}} </h4>
          <h4> Clima : {{p[4]}} </h4>
          <h4> Gravedad : {{p[5]}} </h4>
          <h4> Terreno : {{p[6]}} </h4>
          <h4> Agua superficial : {{p[7]}} </h4>
          <h4> Población : {{p[8]}} </h4>

          <h4> Residentes : </h4>
          {% for per in p[9] : %}
              <h6> &nbsp &nbsp &nbsp &nbsp <a href="/chars/{{per[1]}}"> {{per[0]}} </a> </h6>
          {% endfor %}

          <h4> Películas en que aparece : </h4>

            {%for pel in p[10] : %}
              <h6> &nbsp &nbsp &nbsp &nbsp <a href="/pelis/{{pel[1]}}"> {{pel[0]}} </a> </h6>
            {% endfor %}

        

   </personaje>
</body>
</html>