<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset=utf-8>
  <title> Personaje </title>  
</head> 
<body>      
  <nave>   

      <h1>  Nave {{n[0]}} </h1>
          <h4> Modelo : {{n[1]}} </h4>
          <h4> Fabricante: {{n[2]}}  </h4>
          <h4> Costo en créditos : {{n[3]}} </h4>
          <h4> Largo : {{n[4]}} </h4>
          <h4> Vel Máxima atm: {{n[5]}} </h4>
          <h4> Tripulación : {{n[6]}} </h4>
          <h4> Pasajeros : {{n[7]}} </h4>
          <h4> Capacidad de carga : {{n[8]}} </h4>
          <h4> Consumibles : {{n[9]}} </h4>
          <h4> Rango hypervelocidad : {{n[10]}} </h4>
          <h4> MGLT : {{n[11]}} </h4>
          <h4> Clase : {{n[12]}} </h4>


          <h4> Pilotos : </h4>
          {%if n[13] != [] %}
            {% for per in n[13] : %}
                <h6> &nbsp &nbsp &nbsp &nbsp <a href="/chars/{{per[1]}}"> {{per[0]}} </a> </h6>
            {% endfor %}
          {% endif %}

          {%if n[13] == []%}
                <h6> &nbsp &nbsp &nbsp &nbsp Ninguno </h6>
          {% endif %}
          

          <h4> Películas en que aparece : </h4>

            {%for pel in n[14] : %}
              <h6> &nbsp &nbsp &nbsp &nbsp <a href="/pelis/{{pel[1]}}"> {{pel[0]}} </a> </h6>
            {% endfor %}

        

   </nave>
</body>
</html>